.select-filter {
  width: 100%;
  font-size: 12px;
  .select-filter__item {
    width: 100%;
    display: flex;
    border-bottom: 1px dashed var(--el-border-color-light);
    &:last-child {
      border-bottom: none;
    }
    .select-filter__item__title {
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .select-filter__item__items {
      ul {
        padding: 0;
        display: flex;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--el-color-primary);
          background-color: var(--el-color-primary-light-9);
          border: 1px solid var(--el-color-primary-light-5);
          margin: 0 5px;
          padding: 5px 10px;
          border-radius: 32px;
          transition: all 0.1s;
          cursor: pointer;
          &:hover {
            color: white;
            background-color: var(--el-color-primary);
            border: 1px solid var(--el-color-primary);
          }
          &.active {
            color: white;
            background-color: var(--el-color-primary);
            border: 1px solid var(--el-color-primary);
            font-weight: bold;
          }
        }
      }
    }
  }
}

:deep(.el-scrollbar__view) {
  border: none;
}

:deep(.el-icon) {
  margin-right: 5px;
}
