.upload {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.item {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 20px;
  font-weight: bold;
}
