:root {
  // 修改全局 抽屉样式
  .el-drawer {
    --el-drawer-padding-primary: 0 !important;
    width: 300px !important;
  }
  // 抽屉 header slot 样式
  .el-drawer__header {
    margin-bottom: 0 !important;
    padding: 0 10px !important;
  }
}
